@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <h1 class="display-4">Employee Maintanance Site</h1>
        <h2 class="display-6">Change employee details</h2>
        <a asp-page="EmployeeData/Index">Employee Details</a>
    </div>
